*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    height: 100vh;
    background-color:#3C8CE7;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calamardo{
    width: 500px;
    height: 500px;
    background-color: transparent;
    position: relative;
}
.cabeza{
    width: 480px;
    height: 330px;
    background-color: #b6d0c7;
    border: 2px solid black;
    border-radius: 50%;
    box-shadow: 3px 2px 94px -25px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 2px 94px -25px rgba(0,0,0,0.75);
    -webkit-box-shadow: 3px 2px 94px -25px rgba(0,0,0,0.75);
}
.cabeza .manchas{
    width: 15px;
    height: 13px;
    background-color: #19523b;
    border-radius: 200px;
}
.cabeza .manchas:nth-child(1){
    position: absolute;
    top: 115px;
    left: 40px;
}
.cabeza .manchas:nth-child(2){
    position: absolute;
    top: 90px;
    left: 60px;
}
.cabeza .manchas:nth-child(3){
    position: absolute;
    top: 90px;
    left: 85px;
}
.cabeza .manchas:nth-child(4){
    position: absolute;
    top: 15px;
    left: 240px;
}
.cabeza .manchas:nth-child(5){
    position: absolute;
    top: 35px;
    left: 280px;
}
.cabeza .manchas:nth-child(6){
    position: absolute;
    top: 130px;
    right: 40px;
}
.cabeza .cejas{
    width: 100px;
    height: 30px;
    background-color:transparent;
    border-radius: 50%;    
}
.cabeza .cejas:nth-child(7){
    position: absolute;
    top: 112px;
    left: 142px;
    border-bottom: 3px solid black;
    z-index: 5;
}
.cabeza .cejas:nth-child(8){
    position: absolute;
    top: 100px;
    left: 255px;
    border-top: 3px solid black;
}
.ojos{
    width: 115px;
    height: 170px;
    background-color: #fefbc9;
    border-radius: 50%;
    border-top: 2px solid black;
}
.ojos:nth-child(9){
    position: absolute;
    top: 140px;
    left: 129px;
    z-index: 2;
}
.ojos:nth-child(10){
    position: absolute;
    top: 140px;
    left: 242px;
    z-index: 2;
}
.ojos .piel{
    width: 115px;
    height: 170px;
    border-top: 100px solid #b6d0c7;
    border-radius: 50%;
    border-bottom: 2px solid black;
}
.ojos .pestana{
    width: 115px;
    height: 4px;
    background-color: black;
    position: absolute;
    top: 96px;
}
.ojos .pupila{
    width: 22px;
    height: 30px;
    background-color: #a01800;
    border-radius: 50%;
    position: absolute;
    top: 93px;
    left: 36px;
    z-index: -1;
}
.cachetes{
    width: 220px;
    height: 100px;
    background-color: #b6d0c7;
    position: absolute;
    top: 310px;
    left: 133px;
    border-left: 2px solid black;
    border-right: 2px solid black;    
    z-index: 1;
}
.cachetes .nariz{
    width: 120px;
    height: 240px;
    background-color: #b6d0c7;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    top: -66px;
    left: 50px;
}
.menton{
    width: 330px;
    height: 60px;
    background-color: #b6d0c7;
    position: relative;
    top: 78px;
    left: 80px;
    border: 2px solid black;
    border-radius: 20px;    
}
.menton .semi-izquierda{
    width: 40px;
    height: 40px;
    border-left: 4px solid black;
    border-radius: 20px 0 0 20px;
    position: absolute;
    top: 10px;
    left: 10px;
}
.menton .boca{
    width: 305px;
    height: 2px;
    background-color: black;
    position: absolute;
    top: 30px;
    left: 10px;
}
.menton .semi-derecha{
    width: 40px;
    height: 40px;
    border-right: 4px solid black;
    border-radius: 0 20px 20px 0;
    position: absolute;
    top: 10px;
    right: 10px;
}
